<html xmlns:th="http://www.thymeleaf.org" layout:decorate="/product/index.html">
<head>
  <script th:src="@{/product/js/cart.js}"></script>
  <script>
    const contextPath = '[[${@environment.getProperty('server.servlet.context-path')}]]';
    $(function() {
      $('#formCheck').submit(function(e) {
        if ($('#total').text() == 0) {
            alert('주문하실 상품을 선택해주세요.');
            return false;
        }
        const chk = $('input[name=chk]');
        let arr = [];
        for (let i = 0; i < chk.length; i++) {
            if (chk[i].checked) {
                const cartNo = $('input[name=chk]')[i].classList[0] * 1;
                let count = $('input[name=count' + cartNo + ']').val() * 1;
                let prodNo = $('input[name=prodNo' + cartNo + ']').val() * 1;
                const data = {
                    "prodNo" : prodNo,
                    "cartNo" : cartNo,
                    "count" : count
                }
                arr.push(data);
            }
        }
        const jsonData = JSON.stringify(arr);
        // 데이터를 URL 매개변수로 추가하여 페이지 이동
        window.location.href = contextPath + '/product/order?jsonData=' + encodeURIComponent(jsonData);
        return false;
      });
    })
  </script>
</head>
    <!-- 장바구니 페이지 시작 -->
    <section class="cart" layout:fragment="content">
      <!-- 제목, 페이지 네비게이션 -->
      <nav>
        <h1>장바구니</h1>
        <p>
          HOME > <strong>장바구니</strong>
        </p>
      </nav>
      <form id="formCheck" th:action="@{/product/order}" method="get">
        <!-- 장바구니 목록 -->
        <table>
          <thead>
            <tr>
              <th><input type="checkbox" name="all"></th>
              <th>상품명</th>
              <th>총수량</th>
              <th>판매가</th>
              <th>할인</th>
              <th>포인트</th>
              <th>배송비</th>
              <th>소계</th>
            </tr>
          </thead>
          <tbody>
            <tr th:if="${carts.size() eq 0}">
              <td colspan="7">장바구니에 상품이 없습니다.</td>
            </tr>
            <tr th:each="cart:${carts}" th:class="${cart.cartNo}">
              <input type="hidden" th:name="prodNo + ${cart.cartNo }" th:value="${cart.product.prodNo }"/>
              <td>
                <input type="checkbox" name="chk" th:class="${cart.cartNo}" th:value="${cart.cartNo}">
              </td>
              <td>
                <article>
                  <a th:href="@{/product/view(prodNo=${cart.product.prodNo}, cate1=${cart.product.prodCate1}, cate2=${cart.product.prodCate2})}" class="thumb">
                    <img th:src="@{|/thumbs/${cart.product.thumb1}|}" alt="상품이미지"/>
                  </a>
                  <div class="w450">
                    <h2>
                      <a th:href="@{/product/view(prodNo=${cart.product.prodNo}, cate1=${cart.product.prodCate1}, cate2=${cart.product.prodCate2})}">
                        [[${cart.product.prodName}]]
                      </a>
                    </h2>
                    <p class="overHidden">[[${cart.product.descript}]]</p>
                  </div>
                </article>
              </td>
              <td class="count">
                <input type="hidden" th:name="count + ${cart.cartNo }" th:value="${cart.count }"/>
                [[${cart.count}]]
              </td>
              <td class="price">
                <input type="hidden" th:name="price + ${cart.cartNo }" th:value="${cart.product.price }"/>
                [[${cart.product.getPriceWithComma()}]]
              </td>
              <td class="discount">
                <input type="hidden" th:name="discount + ${cart.cartNo }" th:value="${cart.product.discount }"/>
                <input type="hidden" th:name="disPrice + ${cart.cartNo }" th:value="${cart.product.getDisPrice() }"/>
                [[${cart.product.discount}]]%
              </td>
              <td class="point">
                <input type="hidden" th:name="point + ${cart.cartNo }" th:value="${cart.product.point }"/>
                [[${cart.product.point}]]
              </td>
              <td class="delivery">
                <input type="hidden" th:name="delivery + ${cart.cartNo }" th:value="${cart.product.delivery }"/>
                <span th:if="${cart.product.delivery eq 0}">
                  무료배송
                </span>
                <span th:if="${cart.product.delivery gt 0}">
                  [[${cart.product.getDeliveryWithComma()}]]원
                </span>
              </td>
              <td class="total">
                <input type="hidden" th:name="total + ${cart.cartNo }" th:value="${cart.getTotal() }"/>
                [[${cart.getTotalWithComma()}]]
              </td>
            </tr>
          </tbody>
        </table>
        <input class="cartDelete" type="button" name="del" value="선택삭제">
        <!-- 장바구니 전체합계 -->
        <div class="total">
          <h2>전체합계</h2>
          <table>
            <tr>
              <td>상품수</td>
              <td>
                <span id="count" class="totalForm">0</span>
              </td>
            </tr>
            <tr>
              <td>상품금액</td>
              <td>
                <span id="price" class="totalForm">0</span>
              </td>
            </tr>
            <tr>
              <td>할인금액</td>
              <td>
                -<span id="disPrice" class="totalForm">0</span>
              </td>
            </tr>
            <tr>
              <td>배송비</td>
              <td>
                <span id="delivery" class="totalForm">0</span>
              </td>
            </tr>
            <tr>
              <td>포인트</td>
              <td>
                <span id="point" class="totalForm">0</span>
              </td>
            </tr>
            <tr>
              <td>전체주문금액</td>
              <td>
                <span id="total" class="totalForm">0</span>
              </td>
            </tr>
          </table>
          <input type="submit" name="order" value="주문하기">
        </div>
      </form>
    </section>
</html>