<html xmlns:th="http://www.thymeleaf.org" layout:decorate="/product/index.html">
<head>
    <script th:src="@{/product/js/checkOrder.js}"></script>
    <script th:src="@{/product/js/validation.js}"></script>
</head>
<!-- 주문 페이지 시작-->
<section class="order" layout:fragment="content">
    <!-- 제목, 페이지 네비게이션 -->
    <nav>
        <h1>주문결제</h1>
        <p>
            HOME > 장바구니 > <strong>주문결제</strong>
            <script th:inline="javascript">
                var articleArray = [];
                    /*[# th:each="item : ${products}"]*/
                    var article = {
                        prodNo: /*[[${item.prodNo}]]*/,
                        cartNo: /*[[${item.cartNo}]]*/,
                        count: /*[[${item.count}]]*/
                    };
                    articleArray.push(article);
                    /*[/]*/
            </script>
            <script>
                $(function() {
                    // 초기 최종결제 정보
                    const length = [[${products.size()}]];
                    const count = $('input[name=count]');
                    const price = $('input[name=price]');
                    const disPrice = $('input[name=disPrice]');
                    const delivery = $('input[name=delivery]');
                    const total = 0;
                    let ordPrice = 0;
                    let ordDiscount = 0;
                    let ordDelivery = 0;
                    let ordTotPrice = 0;
                    for (let i = 0; i < length; i++) {
                        ordPrice += (count[i].value * 1) * (price[i].value * 1);
                        ordDiscount += ((price[i].value * 1) - (disPrice[i].value * 1)) * (count[i].value * 1);
                        ordDelivery += (delivery[i].value * 1);
                    }
                    ordTotPrice += ordPrice - ordDiscount + ordDelivery;

                    $('input[name=ordPrice]').val(ordPrice);
                    $('input[name=ordDiscount]').val(ordDiscount);
                    $('input[name=ordDelivery]').val(ordDelivery);
                    $('input[name=ordTotPrice]').val(ordTotPrice);
                    $('#price').text(ordPrice.toLocaleString());
                    $('#disPrice').text(ordDiscount.toLocaleString());
                    $('#delivery').text(ordDelivery.toLocaleString());
                    $('#total').text(ordTotPrice.toLocaleString());

                    $('input[name=ordSubmit]').click(function() {
                        const ordUid = '[[${#authentication.principal.member.uid}]]';
                        const ordCount = $('input[name=ordCount]').val() * 1;
                        const ordPrice = $('input[name=ordPrice]').val() * 1;
                        const ordDiscount = $('input[name=ordDiscount]').val() * 1;
                        const ordDelivery = $('input[name=ordDelivery]').val() * 1;
                        const usedPoint = $('input[name=usedPoint]').val() * 1;
                        const ordTotPrice = $('input[name=ordTotPrice]').val() * 1;
                        const recipName = $('input[name=recipName]').val();
                        const recipHp = $('input[name=recipHp]').val();
                        const recipZip = $('input[name=recipZip]').val();
                        const recipAddr1 = $('input[name=recipAddr1]').val();
                        const recipAddr2 = $('input[name=recipAddr2]').val();
                        const ordPayment = $('input[name=ordPayment]:checked').val();
                        const jsonData = {
                            "ordUid" : ordUid,
                            "ordCount" : ordCount,
                            "ordPrice" : ordPrice,
                            "ordDiscount" : ordDiscount,
                            "ordDelivery" : ordDelivery,
                            "usedPoint" : usedPoint,
                            "ordTotPrice" : ordTotPrice,
                            "recipName" : recipName,
                            "recipHp" : recipHp,
                            "recipZip" : recipZip,
                            "recipAddr1" : recipAddr1,
                            "recipAddr2" : recipAddr2,
                            "ordPayment" : ordPayment
                        }
                        var contextPath = "[[${@environment.getProperty('server.servlet.context-path')}]]";
                        console.log(contextPath);
                        $.ajax({
                            url: contextPath + '/product/order',
                            type: 'POST',
                            data: jsonData,
                            success: function(data) {
                                console.log(data);
                                $.ajax({
                                    url: contextPath + '/product/orderItem',
                                    type: 'POST',
                                    data: {jsonData : JSON.stringify(articleArray), ordNo : data},
                                    success: function(data2) {
                                        console.log(data2);
                                        window.location.href = contextPath + '/product/complete?ordNo=' + data;
                                    }
                                });
                            }
                        });
                        return false;
                    });
                });
            </script>
        </p>
      </nav>
      <form id="ordForm" th:action="@{/product/order}" method="post">
        <!-- 주문 상품 목록 -->
        <table>
          <thead>
            <tr>
              <th>상품명</th>
              <th>총수량</th>
              <th>판매가</th>
              <th>할인</th>
              <th>배송비</th>
              <th>소계</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item:${products}">
                <input type="hidden" name="prodNo" value="${item.product.prodNo }">
                <input type="hidden" name="cartNo" value="${item.cartNo }">
                <input type="hidden" name="userPoint" value="${item.product.point }">
              <td>
                <article>
                  <a th:href="@{/product/view(prodNo=${item.product.prodNo}, cate1=${item.product.prodCate1}, cate2=${item.product.prodCate2})}" class="thumb">
                    <img th:src="@{'/thumb/' + ${item.product.prodCate1} + '/' + ${item.product.prodCate2} + '/' + ${item.product.thumb1}}" alt="상품이미지"/>
                  </a>
                  <div class="w450">
                    <h2>
                      <a th:href="@{/product/view(prodNo=${item.product.prodNo}, cate1=${item.product.prodCate1}, cate2=${item.product.prodCate2})}">
                        [[${item.product.prodName}]]
                      </a>
                    </h2>
                    <p class="overHidden">[[${item.product.descript}]]</p>
                  </div>
                </article>
              </td>
              <td class="count">
                  <input type="hidden" name="count" th:value="${item.count }" />
                  [[${item.count}]]
              </td>
                <td class="price">
                    <input type="hidden" name="price" th:value="${item.product.price }"/>
                  [[${item.product.getPriceWithComma()}]]
              </td>
                <td class="discount">
                    <input type="hidden" name="discount" th:value="${item.product.discount }"/>
                    <input type="hidden" name="disPrice" th:value="${item.product.getDisPrice() }"/>
                    [[${item.product.discount }]]%
                </td>
              <td>
                  <input type="hidden" name="delivery" th:value="${item.product.delivery }" />
                  <span th:if="${item.product.delivery eq 0}">
                  무료배송
                </span>
                  <span th:if="${item.product.delivery gt 0}">
                  [[${item.product.getDeliveryWithComma()}]]원
                </span>
              </td>
              <td>
                  <input type="hidden" name="total" th:value="${item.getTotal() }" />
                  [[${item.getTotalWithComma()}]]
              </td>
            </tr>
          </tbody>
        </table>
        <!-- 최종 결제 정보 -->
        <div class="final">
          <h2>최종결제 정보</h2>
          <table>
            <tr>
              <td>총</td>
              <td>
                  <input type="hidden" name="ordCount" th:value="${products.size() }" />
                  [[${products.size()}]] 건
              </td>
            </tr>
            <tr>
              <td>상품금액</td>
              <td>
                  <input type="hidden" name="ordPrice" value="" />
                  <span id="price" class="totalForm">0</span>
              </td>
            </tr>
            <tr>
              <td>할인금액</td>
              <td>
                  <input type="hidden" name="ordDiscount" value="" />
                  <span id="disPrice" class="totalForm">-0</span>
              </td>
            </tr>
            <tr>
              <td>배송비</td>
              <td>
                  <input type="hidden" name="ordDelivery" value="" />
                  <span id="delivery" class="totalForm">0</span>
              </td>
            </tr>
            <tr>
              <td>포인트 할인</td>
              <td>
                  <input type="hidden" name="savePoint" value="" />
                  <span id="point" class="totalForm">-0</span>
              </td>
            </tr>
            <tr>
              <td>전체주문금액</td>
              <td>
                  <input type="hidden" name="ordTotPrice" value="" />
                  <span id="total" class="totalForm">0</span>
              </td>
            </tr>
          </table>
          <input type="button" name="ordSubmit" value="결제하기">
        </div>

        <!-- 배송정보 -->
        <article class="delivery">
          <h1>배송정보</h1>
          <table>
            <tr>
                <td><span class="essential">*</span>수령인</td>
                <td><input type="text" name="recipName" th:value="${#authentication.principal.member.name}"/></td>
            </tr>
            <tr>
                <td><span class="essential">*</span>휴대폰</td>
                <td>
                    <input type="text" name="recipHp" th:value="${#authentication.principal.member.hp}"/>
                    <span>- 포함 입력</span><span class="msgHp"></span>
                </td>
            </tr>
            <tr>
              <td>우편번호</td>
              <td>
                  <input type="text" name="recipZip" th:value="${#authentication.principal.member.zip}"/>
                  <input type="button" value="검색" onclick="zipcode()"/>
              </td>
            </tr>
            <tr>
                <td><span class="essential">*</span>기본주소</td>
                <td><input type="text" name="recipAddr1" th:value="${#authentication.principal.member.addr1}"/></td>
            </tr>
            <tr>
                <td><span class="essential">*</span>상세주소</td>
                <td><input type="text" name="recipAddr2" th:value="${#authentication.principal.member.addr2}"/></td>
            </tr>
          </table>
        </article>
        <!-- 할인정보 -->
        <article class="discount">
          <h1>할인정보</h1>
          <div>
            <p>
                <input type="hidden" name="memberPoint" th:value="${#authentication.principal.member.point}">
                현재 포인트 : <span id="sessPoint">[[${#authentication.principal.member.toDTO().getDisPoint()}]]</span>점
            </p>
            <label>
                <input type="number" name="usedPoint" min="0" value="0"/>점
            </label>
            <span>포인트 5,000점 이상이면 현금처럼 사용 가능합니다.</span>
          </div>
        </article>
        <!-- 결제방법 -->
        <article class="payment">
            <h1>결제방법</h1>
            <div>
                <span>신용카드</span>
                <p>
                    <label><input type="radio" name="ordPayment" value="1"/>신용카드 결제</label>
                    <label><input type="radio" name="ordPayment" value="2"/>체크카드 결제</label>
                </p>
            </div>
            <div>
                <span>계좌이체</span>
                <p>
                    <label><input type="radio" name="ordPayment" value="3"/>실시간 계좌이체</label>
                    <label><input type="radio" name="ordPayment" value="4"/>무통장 입금</label>
                </p>
            </div>
            <div>
                <span>기타</span>
                <p>
                    <label><input type="radio" name="ordPayment" value="5"/>휴대폰결제</label>
                    <label>
                        <input type="radio" name="ordPayment" value="6"/>카카오페이
                        <img th:src="@{/images/ico_kakaopay.gif}" alt="카카오페이"/>
                    </label>
                </p>
            </div>
        </article>
        <!-- 경고 -->
        <article class="alert">
          <ul>
              <li><span>롯데ON의 모든 판매자는 안전거래를 위해 구매금액, 결제수단에 상관없이 모든거래에 대하여 롯데ON 유한책임회사의 구매안전서비스(에스크로)를 제공하고 있습니다.</span></li>
              <li><span>롯데ON 유한책임회사의 전자금융거래법에 의해 결제대금예치업 등록번호는 02-006-00008 입니다.</span></li>
              <li><span>등록여부는 금융감독원 홈페이지(www.fss.or.kr)의 업무자료>인허가업무안내>전자금융업등록현황에서 확인하실수 있습니다.</span></li>
          </ul>
        </article>
      </form>
    </section>
    <!-- 주문 페이지 끝-->
</html>