<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="/admin/adminlayout">

<section id="admin-index" layout:fragment="content">
    <nav>
        <h3>관리자 메인</h3>
        <p>
            HOME > <strong>메인</strong>
        </p>
    </nav>

    <h4>쇼핑몰 운영현황</h4>
    <article>
        <table>
            <tr>
                <td>
                    <strong>주문건수(건)</strong>
                    <span>15</span>
                </td>
                <td>
                    <strong>주문금액(원)</strong>
                    <span>5,430,000</span>
                </td>
                <td>
                    <strong>회원가입(명)</strong>
                    <span>15</span>
                </td>
                <td>
                    <strong>쇼핑몰 방문(명)</strong>
                    <span>31</span>
                </td>
                <td>
                    <strong>신규게시물(건)</strong>
                    <span>31</span>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <span>PC</span>
                        <span>8</span>
                    </p>
                    <p>
                        <span>Mobile</span>
                        <span>7</span>
                    </p>
                </td>
                <td>
                    <p>
                        <span>PC</span>
                        <span>5,000,000</span>
                    </p>
                    <p>
                        <span>Mobile</span>
                        <span>430,000</span>
                    </p>
                </td>
                <td>
                    <p>
                        <span>PC</span>
                        <span>8</span>
                    </p>
                    <p>
                        <span>Mobile</span>
                        <span>7</span>
                    </p>
                </td>
                <td>
                    <p>
                        <span>PC</span>
                        <span>21</span>
                    </p>
                    <p>
                        <span>Mobile</span>
                        <span>10</span>
                    </p>
                </td>
                <td>
                    <p>
                        <span>PC</span>
                        <span>21</span>
                    </p>
                    <p>
                        <span>Mobile</span>
                        <span>10</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <span>어제</span>
                        <span>5</span>
                    </p>
                    <p>
                        <span>주간</span>
                        <span>15</span>
                    </p>
                    <p>
                        <span>월간</span>
                        <span>15</span>
                    </p>
                </td>
                <td>
                    <p>
                        <span>어제</span>
                        <span>5,000,000</span>
                    </p>
                    <p>
                        <span>주간</span>
                        <span>5,430,000</span>
                    </p>
                    <p>
                        <span>월간</span>
                        <span>5,430,000</span>
                    </p>
                </td>
                <td>
                    <p>
                        <span>어제</span>
                        <span>5</span>
                    </p>
                    <p>
                        <span>주간</span>
                        <span>15</span>
                    </p>
                    <p>
                        <span>월간</span>
                        <span>15</span>
                    </p>
                </td>
                <td>
                    <p>
                        <span>어제</span>
                        <span>21</span>
                    </p>
                    <p>
                        <span>주간</span>
                        <span>31</span>
                    </p>
                    <p>
                        <span>월간</span>
                        <span>31</span>
                    </p>
                </td>
                <td>
                    <p>
                        <span>어제</span>
                        <span>21</span>
                    </p>
                    <p>
                        <span>주간</span>
                        <span>31</span>
                    </p>
                    <p>
                        <span>월간</span>
                        <span>31</span>
                    </p>
                </td>
            </tr>
        </table>
    </article>

    <h4>주문 업무현황</h4>
    <article>
        <table>
            <tr>
                <td>
                    <strong>입금대기(건)</strong>
                    <span>1</span>
                </td>
                <td>
                    <strong>배송준비(건)</strong>
                    <span>13</span>
                </td>
                <td>
                    <strong>취소요청(건)</strong>
                    <span>0</span>
                </td>
                <td>
                    <strong>교환요청(건)</strong>
                    <span>1</span>
                </td>
                <td>
                    <strong>반품요청(건)</strong>
                    <span>2</span>
                </td>
            </tr>
        </table>
    </article>

    <div>
        <div>
            <h4>공지사항</h4>
            <article>
                <th:block th:each="no : ${noticeBoard}">
                    <p>
                        <a th:href="@{/admin/cs/notice/view(group='notice',bno=${no.bno})}" th:onclick="return showAlert([[${no.uid}]]);" class="title">
                            [<span th:text="${no.typeName}"></span>] [[${no.title}]]
                        </a>
                        <span class="date" th:text="${#temporals.format(no.rdate, 'yy-MM-dd')}"></span>
                    </p>
                </th:block>
            </article>
        </div>
        <div>
            <h4>고객문의</h4>
            <article>
                <th:block th:each="qna : ${qnaBoard}">
                    <p>
                    <a th:href="@{/admin/cs/qna/view(group='qna',bno=${qna.bno})}" th:onclick="return showAlert([[${qna.uid}]]);" class="title">
                        [<span th:text="${qna.typeName}"></span>] [[${qna.title}]]
                    </a>
                        <span class="date" th:text="${#temporals.format(qna.rdate, 'yy-MM-dd')}"></span>
                    </p>
                </th:block>
            </article>
        </div>
    </div>
</section>
</main>
</div>
</body>
</html>