<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.thymeleaf.org/" layout:decorate="/cs/layout.html">

      <section id="cs" layout:fragment = "content">
        <div class="notice">
          <nav>
            <div>
              <p>홈<span>></span>공지사항</p>
            </div>
          </nav>
          <section class="list">
            <aside>
              <h2>공지사항</h2>
              <ul>
                <li th:class="${(cate eq 'null') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice', cate='null')}">전체</a></li>
                <li th:class="${(cate=='cs') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='cs')}">고객서비스</a></li>
                <li th:class="${(cate=='safe') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='safe')}">안전거래</a></li>
                <li th:class="${(cate=='dangerProd') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='dangerProd')}">위해상품</a></li>
                <li th:class="${(cate=='event') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='event')}">이벤트당첨</a></li>
              </ul>
            </aside>
            <article>
              <nav>
                <span th:switch="${cate}">
                    <span th:case = "'null'">전체</span>
                    <span th:case="cs">고객서비스</span>
                    <span th:case="safe">안전거래</span>
                    <span th:case="dangerProd">위해상품</span>
                    <span th:case="event">이벤트당첨</span>
                </span>
                <h2>관련 문의 입니다.</h2>
              </nav>
              <table>
                <tr th:each="article : ${csPageResponseDTO.dtoList}" >
                  <td>
                    <a th:href="@{/cs/notice/view(bno=${article.bno})}">[<span th:text="${article.typeName}"></span>] [[${article.title}]]</a>
                  </td>
                  <td th:text="${#temporals.format(article.rdate, 'yyyy-MM-dd')}"></td>
                </tr>
              </table>
                <th:block th:if="${csPageResponseDTO.end gt 0 }">
                  <div class="page">
                      <span th:if="${csPageResponseDTO.prev}" class="prev">
                        <a th:href="@{/cs/notice/list(group=${csPageResponseDTO.group},cate=${csPageResponseDTO.cate},pg=${csPageResponseDTO.start - 1})}">이전</a>
                      </span>

                    <span th:each="num: ${#numbers.sequence(csPageResponseDTO.start, csPageResponseDTO.end)}" class="num">
                        <a th:href="@{/cs/notice/list(group=${csPageResponseDTO.group},cate=${csPageResponseDTO.cate},pg=${num})}" th:class="${csPageResponseDTO.pg eq num ? 'on' : 'off'}">[[${num}]]</a>
                      </span>

                    <span th:if="${csPageResponseDTO.next}" class="next">
                        <a th:href="@{/cs/notice/list(group=${csPageResponseDTO.group},cate=${csPageResponseDTO.cate},pg=${csPageResponseDTO.end + 1})}">다음</a>
                      </span>
                  </div>
                </th:block>
            </article>
          </section>
        </div>
      </section>

