<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.thymeleaf.org/" layout:decorate="/cs/layout.html">

      <section id="cs" layout:fragment = "content">
        <div class="notice">
          <nav>
            <div>
              <p>홈<span>></span>공지사항</p>
            </div>
          </nav>
          <section class="view">
            <aside>
              <h2>공지사항</h2>
              <ul>
                <li th:class="${(cate eq 'null') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice', cate='null')}">전체</a></li>
                <li th:class="${(cate=='cs') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='cs')}">고객서비스</a></li>
                <li th:class="${(cate=='safe') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='safe')}">안전거래</a></li>
                <li th:class="${(cate=='dangerProd') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='dangerProd')}">위해상품</a></li>
                <li th:class="${(cate=='event') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='event')}">이벤트당첨</a></li>
              </ul>
            </aside>
            <article>
              <nav>
                <h2 class="title">[<span th:text="${boardDTO.typeName}"></span>] [[${boardDTO.title}]]</h2>
                <span th:text="${#temporals.format(boardDTO.rdate, 'yyyy-MM-dd')}"></span>
              </nav>

              <div class="content">
                <p>
                  [[${boardDTO.content}]]
                </p><br><br>
                <p>
                  ※ 피싱 관련 피해신고<br /><br />
                  ▶ 경찰청 사이버수사국 (국번없이)182 :
                  http://cyberbureau.police.go.kr<br />
                  ▶ KISA 인터넷침해대응센터 (국번없이)118 :
                  http://www.krcert.or.kr<br />
                  감사합니다.<br />
                </p>
              </div>
              <a th:href="@{/cs/notice/list(cate='null')}" class="btnList">목록보기</a>
            </article>
          </section>
        </div>
      </section>


