<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="/admin/adminlayout.html">

<section id="admin-cs-notice-write" layout:fragment="content">
    <nav>
        <h3>자주 묻는 질문</h3>
        <p>
            HOME &gt; 고객센터 &gt; <strong>자주묻는 질문</strong>
        </p>
    </nav>
    <nav></nav>
    <section class="write">
        <article>
            <form th:action="@{/admin/cs/faq/modify}" method="post">
                <input type="hidden" name="bno" th:value="${boardDTO.bno}"/>
                <table>
                    <tr>
                        <td>유형</td>
                        <td>
                            <span th:text="${boardDTO.cateName + ' - ' + boardDTO.typeName}"></span>
                            <input type="hidden" name="content" th:value="${boardDTO.content}" ></input>
                            <input type="hidden" name="cate" th:value="${boardDTO.cate}" ></input>
                        </td>
                    </tr>
                    <tr>
                        <td>제목</td>
                        <td>
                            <input type="text" name="title" th:value="${boardDTO.title}"/>
                        </td>
                    </tr>

                    <tr>
                        <td>내용</td>
                        <td>
                            <textarea name="reply" th:text="${boardDTO.reply}"></textarea>
                        </td>
                    </tr>
                </table>
                <div>
                    <a th:href="@{/admin/cs/faq/list?group=qna&cate=null}" class="btnList">취소하기</a>
                    <input type="submit" class="btnSubmit" value="수정하기"/>
                </div>
            </form>
        </article>
    </section>
</section>
</html>