<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
      layout:decorate="/my/index.html">
    <head>
        <script>
            var contextPath = "[[${@environment.getProperty('server.servlet.context-path')}]]";
            console.log(contextPath);
            let page = 1;
            let rating = 1;
        </script>
        <script th:src="@{/my/js/home.js}"></script>
    </head>
    <div class="home" layout:fragment="content">
        <ul th:replace="~{/my/menu.html}">
        </ul>
        <section>
            <a href="#">
                <img th:src="@{/my/images/my_banner1.jpg}" alt="패션, 타운 하나로 끝" class="banner">
            </a>
            <article class="latest">
                <h3>최근주문내역</h3>
                <a th:href="@{/my/order}" class="more">더보기</a>
                <table>
                    <tr>
                        <th>날짜</th>
                        <th>상품정보</th>
                        <th>상태</th>
                        <th>확인/신청</th>
                    </tr>
                    <tr th:each="order : ${score1List}">
                        <td class="date" th:text="${#temporals.format(order.ordDate, 'yyyy-MM-dd')}"></td>
                        <td class="info">
                            <a class="thumb">
                                <img class="w80" th:src="@{'/thumb/' + ${order.product.prodCate1} + '/' + ${order.product.prodCate2} + '/' + ${order.product.thumb1}}" alt="item1" />
                            </a>
                            <ul class="w350">
                                <li class="company">[[${order.product.company}]]</li>
                                <li class="prodName"><a href="#">[[${order.product.prodName}]]</a></li>
                                <li>수량 : <span class="prodCount">[[${order.count}]]</span>개 / 주문번호 : <span class="ordNo">[[${order.ordNo}]]</span></li>
                            </ul>
                        </td>
                        <td class="status" th:text="${order.statusString}"></td>
                        <td class="confirm">
                            <a href="#" class="receive" th:onclick="'javascript:receivePop(' + ${order.no} + '); return false;'">수취확인</a>
                            <a href="#" class="review" th:onclick="'javascript:reviewPop(' + ${order.product.prodNo} + ', ' + ${order.no} + '); return false;'">상품평</a>
                            <a href="#" class="refund">반품신청</a>
                            <a href="#" class="exchange">교환신청</a>
                        </td>
                    </tr>
                </table>
            </article>

            <article class="point">
                <h3>포인트적립내역</h3>
                <a th:href="@{/my/point}" class="more">더보기</a>
                <table border="0">
                    <tr>
                        <th>날짜</th>
                        <th>주문번호</th>
                        <th>적립금액</th>
                        <th>비고</th>
                    </tr>
                    <tr th:each="point : ${myPoints}" th:if="${point.point > 0}">
                        <td class="date" th:text="${#temporals.format(point.pointDate, 'yyyy-MM-dd')}"></td>
                        <td class="ordNo" th:text="${point.ordNo}"></td>
                        <td class="point" th:text="${point.point}"></td>
                        <td class="desc" th:text="${point.descript}"></td>
                    </tr>
                </table>
            </article>
            <article class="review">
                <h3>상품평</h3>
                <a th:href="@{/my/reivew}" class="more">더보기</a>
                <table border="0">
                    <tr>
                        <th>번호</th>
                        <th>상품명</th>
                        <th>내용</th>
                        <th>평점</th>
                        <th>작성일</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>상품명</td>
                        <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                        <td><span class="rating star1">상품평</span></td>
                        <td>2022-12-10</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>상품명</td>
                        <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                        <td><span class="rating star2">상품평</span></td>
                        <td>2022-12-10</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>상품명</td>
                        <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                        <td><span class="rating star3">상품평</span></td>
                        <td>2022-12-10</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>상품명</td>
                        <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                        <td><span class="rating star4">상품평</span></td>
                        <td>2022-12-10</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>상품명</td>
                        <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                        <td><span class="rating star5">상품평</span></td>
                        <td>2022-12-10</td>
                    </tr>
                </table>
            </article>

            <article class="qna">
                <h3>내 문의내역</h3>
                <a th:href="@{/my/qna}" class="more">더보기</a>
                <table border="0">
                    <tr>
                        <th>번호</th>
                        <th>문의유형</th>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>상태</th>
                    </tr>
                    <tr th:each="myQna, status : ${myQnas}">
                        <td th:text="${myQnas.size() - status.index}"></td>
                        <td th:text="${myQna.typeName}"></td>
                        <td>
                            <a th:href="@{/cs/qna/view(bno=${myQna.bno})}" th:onclick="return showAlert([[${myQna.uid}]]);">[[${myQna.title}]]</a>
                        </td>
                        <td th:text="${#temporals.format(myQna.rdate, 'yyyy-MM-dd')}"></td>
                        <th:block th:with="statusColor=${myQna.status eq '답변완료' ? 'blue' : 'grey'}">
                            <td th:class="${statusColor} +' reply' +' pending'"
                                th:text="${myQna.status}"
                                style="font-weight: bold; text-align: center;"></td>
                        </th:block>
                    </tr>

                </table>
            </article>

            <article class="myinfo">
                <h3>확인해주세요!</h3>

                <div>
                    <div class="address">
                        <span>기본 배송지설정</span>
                        <a href="#" class="setting">변경</a>
                    </div>
                    <div class="email">
                        <span>email 설정</span>
                        <a href="#" class="setting">변경</a>
                        <p>
                            <span>abc123@gmail.com</span><br/>
                            (최종수정일 <span>2021-12-10</span>)
                        </p>
                    </div>
                    <div class="hp">
                        <span>휴대폰 설정</span>
                        <a href="#" class="setting">변경</a>
                        <p>
                            <span>abc123@gmail.com</span><br/>
                            (최종수정일 <span>2021-12-10</span>)
                        </p>
                    </div>
                </div>
            </article>
        </section>
    </div>
</html>