<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="/my/index.html">
<div class="info" layout:fragment="content">
    <ul th:replace="~{/my/menu.html}"></ul>
    <section>
        <a href="#">
            <img th:src="@{/my/images/my_banner2.png}" alt="스마일카드 적립혜택" class="banner">
        </a>
        <article>
            <h3>회원정보 설정</h3>
            <table>
                <tr>
                    <td>사용자 ID</td>
                    <td>chh****</td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td>
                        <button id="btnPassChange">비밀번호 변경</button>
                    </td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td>김*학</td>
                </tr>
                <tr>
                    <td>생년월일</td>
                    <td>1983년 05월 03일</td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>
                        <input type="email" name="email" value="ttt@naver.com" required/>
                        <button type="button" id="btnEmailCode">수정하기</button>
                        <span class="resultEmail"></span>
                        <div class="auth">
                            <input type="text" name="auth" placeholder="인증번호 입력"/>
                            <button type="button" id="btnEmailAuth">확인</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>휴대폰</td>
                    <td>
                        <p class="hp">
                            <input type="text" name="hp" value="010-1234-1001" required/>
                            <span class="msgHp"></span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>주소</td>
                    <td>
                        <input type="text" name="zip" id="zip" placeholder="주소검색 클릭" readonly/>
                        <button type="button" class="btnZip" onclick="zipcode()">주소검색</button>
                        <p class="address">
                            <input type="text" name="addr1" id="addr1" placeholder="주소를 검색하세요." readonly/>
                            <input type="text" name="addr2" id="addr2" placeholder="상세주소를 입력하세요."/>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>회원탈퇴</td>
                    <td>
                        <button id="btnWithdraw">탈퇴하기</button>
                    </td>
                </tr>
            </table>
            <button id="btnInfoChange">수정하기</button>
        </article>
    </section>
</div>
</html>