<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
      layout:decorate="/my/index.html">

    <div class="qna" layout:fragment="content">
        <ul th:replace="~{/my/menu.html}">
        </ul>
        <section>
            <a th:href="@{https://www.mysmilepay.com/}"><img th:src="@{/my/images/my_banner2.png}" alt="패션, 타운 하나로 끝" class="banner"></a>
            <article>
                <h3>문의하기</h3>
                <table>
                    <tr>
                        <th>번호</th>
                        <th>문의유형</th>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>상태</th>
                    </tr>
                    <tr th:each="article : ${csPageResponseDTO.dtoList}">
                        <td th:text="${article.bno}"></td>
                        <td th:text="${article.typeName}"></td>
                        <td>
                            <a th:href="@{/cs/qna/view(bno=${article.bno})}" th:onclick="return showAlert([[${article.uid}]]);">[[${article.title}]]</a>
                        </td>
                        <td th:text="${#temporals.format(article.rdate, 'yyyy-MM-dd')}"></td>
                        <th:block th:with="statusColor=${article.status eq '답변완료' ? 'blue' : 'grey'}">
                            <td th:class="${statusColor} +' reply' +' pending'"
                                th:text="${article.status}"
                                style="font-weight: bold; text-align: center;"></td>
                        </th:block>
                    </tr>
                </table>
                <p class="page">
                    <th:block th:if="${csPageResponseDTO.prev}" class="prev">
                        <a th:href="@{/my/qna(cate=${csPageResponseDTO.cate},pg=${csPageResponseDTO.start - 1})}">이전</a>
                    </th:block>
                    <th:block th:each="num: ${#numbers.sequence(csPageResponseDTO.start, csPageResponseDTO.end)}" class="num">
                        <a th:href="@{/my/qna(cate=${csPageResponseDTO.cate},pg=${num})}" th:class="${csPageResponseDTO.pg eq num ? 'on' : 'off'}">[[${num}]]</a>
                    </th:block>
                    <th:block th:if="${csPageResponseDTO.next}" class="next">
                        <a th:href="@{/my/qna(cate=${csPageResponseDTO.cate},pg=${csPageResponseDTO.end + 1})}">다음</a>
                    </th:block>
                </p>
            </article>
        </section>
    </div>
</html>