<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="/member/memberPage.html">
<div class="signup" layout:fragment="content">
    <form th:action="@{/member/register}" method="get">
        <input type="hidden" th:name="type" th:value="${type}"/>
        <nav>
            <h1>약관동의</h1>
        </nav>
        <section class="checkbox_group">
            <h3 th:if="${type == 'normal'}" class="normal">
                이용약관, 개인정보 수집, 전자금융거래 이용약관, 위치정보 이용약관(선택)에 <span>모두 동의</span>합니다.
            </h3>
            <h3 th:if="${type == 'seller'}" class="seller">
                이용약관, 개인정보 수집, 전자금융거래 이용약관에 <span>모두 동의</span>합니다.
            </h3>
            <label><input type="checkbox" name="agreeAll"/>동의합니다.</label>

            <h3><span class="essential">(필수)</span>롯데온 이용약관</h3>
            <textarea th:if="${type == 'normal'}" class="terms" readonly>[[${terms.terms}]]</textarea>
            <textarea th:if="${type == 'seller'}" class="terms" readonly>[[${terms.tax}]]</textarea>
            <label><input type="checkbox" name="agree1" class="checkAgree"/>동의합니다.</label>

            <h3><span class="essential">(필수)</span>전자금융거래 이용약관</h3>
            <textarea class="financial" readonly>[[${terms.finance}]]</textarea>
            <label><input type="checkbox" name="agree2" class="checkAgree"/>동의합니다.</label>

            <h3><span class="essential">(필수)</span>개인정보 수집동의</h3>
            <textarea class="privacy" readonly>[[${terms.privacy}]]</textarea>
            <label><input type="checkbox" name="agree3" class="checkAgree"/>동의합니다.</label>

            <section th:if="${type == 'normal'}">
                <h3><span class="optional">(선택)</span>위치정보 이용약관</h3>
                <textarea class="location" readonly>[[${terms.location}]]</textarea>
                <label><input type="checkbox" name="agree4" class="checkAgree"/>동의합니다.</label>
            </section>
        </section>

        <div>
            <input type="submit" class="agree" value="동의하기" />
        </div>
    </form>
</div>
</html>