<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.thymeleaf.org/" layout:decorate="/cs/layout.html">

<head>
<script>
    $(function(){
    /*let moreview = $("div > ul > li:nth-child(n+4)");*/

    $(".moreAteg").click(function(e){
    e.preventDefault();
    console.log("more click");

    // this.classList : 배열 형태의 class 속성을 가짐
    // => 배열이니깐 index 1번이 ${type.type}이 됨
    let type = this.classList[1];

    //jQuery 써야되니깐 .을 붙인 뒤 type을 통해 해당 타입의 클래스를 만들어줌
    $("."+type).show();
    $(this).hide();

    // .lessAteg 이면서 .type을 보여줌
    // -> 간단히 보기가 보이게 됨
    $(".lessAteg."+type).show();
    });

    $(".lessAteg").click(function(e){
    e.preventDefault();
    console.log("less click");
    let type = this.classList[1];

    $("."+type).hide();
    $(this).hide();
    $(".moreAteg."+type).show();
    });

    })

</script>
</head>


<section id="cs" layout:fragment = "content">
        <div class="faq">
          <nav>
            <div>
              <p>홈<span>></span>자주묻는 질문</p>
            </div>
          </nav>
          <section class="list">
            <aside>
              <h2>자주묻는 질문</h2>
              <ul>
                <li th:class="${(cate eq 'member') ? 'on' : ''}"><a th:href="@{/cs/faq/list(group='faq',cate='member')}">회원</a></li>
                <li th:class="${(cate=='coupon') ? 'on' : ''}"><a th:href="@{/cs/faq/list(group='faq',cate='coupon')}">쿠폰/이벤트</a></li>
                <li th:class="${(cate=='order') ? 'on' : ''}"><a th:href="@{/cs/faq/list(group='faq',cate='order')}">주문/결제</a></li>
                <li th:class="${(cate=='delivery') ? 'on' : ''}"><a th:href="@{/cs/faq/list(group='faq',cate='delivery')}">배송</a></li>
                <li th:class="${(cate=='cancel') ? 'on' : ''}"><a th:href="@{/cs/faq/list(group='faq',cate='cancel')}">취소/반품/교환</a></li>
                <li th:class="${(cate=='travel') ? 'on' : ''}"><a th:href="@{/cs/faq/list(group='faq',cate='travel')}">여행/숙박/항공</a></li>
                <li th:class="${(cate=='safe') ?'on' : ''}"><a th:href="@{/cs/faq/list(group='faq',cate='safe')}">안전거래</a></li>
              </ul>
            </aside>
            <article>              
              <nav>
                 <span th:switch="${cate}">
                    <span th:case="member">회원</span>
                    <span th:case="coupon">쿠폰/이벤트</span>
                    <span th:case="order">주문/결제</span>
                    <span th:case="delivery">배송</span>
                    <span th:case="cancel">취소/반품/교환</span>
                    <span th:case="travel">여행/숙박/항공</span>
                    <span th:case="safe">안전거래</span>
                 </span>
                <h2>가장 자주 묻는 질문입니다.</h2>
              </nav>

                <div>
                    <th:block th:each="type : ${types}"><br>
                        <h3>[[${type.typeName}]]</h3>
                        <ul>
                            <th:block th:each="dto : ${type.boards}" th:if="${dto.type == type.type}">
                                <li th:class="${dto.index ge 3
					                        	&& dto.index le 9 ? dto.type : '' }">
                                    <a th:href="@{/cs/faq/view(group=${dto.group}, cate=${dto.cate},bno=${dto.bno})}">
                                        <span>Q.</span>[[${dto.title}]]
                                    </a>
                                </li>
                            </th:block>
                            <li class="more">
                                <a th:class="moreAteg + ' ' + ${type.type}" href="#">더보기</a>
                                <a th:class="lessAteg + ' ' + ${type.type}" style="display: none" href="#">간단히보기</a>
                            </li>
                        </ul>
                    </th:block>

                </div>

            </article>
          </section>
        </div>
      </section>
