<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
      layout:decorate="/cs/layout.html">

      <section id="cs" layout:fragment = "content">
        <div class="qna">
          <nav>
            <div>
              <p>홈<span>></span>문의하기</p>
            </div>
          </nav>
          <section class="list">
            <aside>
              <h2>문의하기</h2>
              <!--<ul>
                <li class="on"><a th:href="@{/cs/qna/list(cate=member)}">회원</a></li>
                <li><a th:href="@{/cs/qna/list(cate=coupon)}">쿠폰/이벤트</a></li>
                <li><a th:href="@{/cs/qna/list(cate=order)}">주문/결제</a></li>
                <li><a th:href="@{/cs/qna/list(cate=delivery)}">배송</a></li>
                <li><a th:href="@{/cs/qna/list(cate=cancel)}">취소/반품/교환</a></li>
                <li><a th:href="@{/cs/qna/list(cate=travel)}">여행/숙박/항공</a></li>
                <li><a th:href="@{/cs/qna/list(cate=safe)}">안전거래</a></li>
              </ul>-->
              <ul>
                <li th:class="${cate == 'member'} ? 'on' : ''"><a th:href="@{/cs/qna/list(cate=member)}">회원</a></li>
                <li th:class="${cate == 'coupon'} ? 'on' : ''"><a th:href="@{/cs/qna/list(cate=coupon)}">쿠폰/이벤트</a></li>
                <li th:class="${cate == 'order'} ? 'on' : ''"><a th:href="@{/cs/qna/list(cate=order)}">주문/결제</a></li>
                <li th:class="${cate == 'delivery'} ? 'on' : ''"><a th:href="@{/cs/qna/list(cate=delivery)}">배송</a></li>
                <li th:class="${cate == 'cancel'} ? 'on' : ''"><a th:href="@{/cs/qna/list(cate=cancel)}">취소/반품/교환</a></li>
                <li th:class="${cate == 'travel'} ? 'on' : ''"><a th:href="@{/cs/qna/list(cate=travel)}">여행/숙박/항공</a></li>
                <li th:class="${cate == 'safe'} ? 'on' : ''"><a th:href="@{/cs/qna/list(cate=safe)}">안전거래</a></li>
              </ul>
            </aside>
            <article>
              <nav>
                <h1>회원</h1>
                <h2>회원관련 문의 내용입니다.</h2>
              </nav>
              <table>
                <tr th:each="article:${csPageResponseDTO.dtoList}">
                  <td>
                    <a th:href="@{/cs/qna/view(bno=${article.bno})}">[<span th:text="${article.typeName}"></span>] [[${article.title}]]</a>
                  </td>
                  <td>[[${article.uid}]]</td>
                  <td th:text="${#temporals.format(article.rdate, 'yy-MM-dd')}"></td>
                </tr>
              </table>
              <!-- paging-->
              <div class="page">
                  <span th:if="${csPageResponseDTO.prev}" class="prev">
                    <a th:href="@{/cs/qna/list(cate=${csPageResponseDTO.cate},pg=${csPageResponseDTO.start - 1})}">이전</a>
                  </span>

                  <span th:each="num: ${#numbers.sequence(csPageResponseDTO.start, csPageResponseDTO.end)}" class="num">
                    <a th:href="@{/cs/qna/list(cate=${csPageResponseDTO.cate},pg=${num})}" th:class="${csPageResponseDTO.pg eq num ? 'on' : 'off'}">[[${num}]]</a>
                  </span>

                  <span th:if="${csPageResponseDTO.next}" class="next">
                    <a th:href="@{/cs/qna/list(cate=${csPageResponseDTO.cate},pg=${csPageResponseDTO.end + 1})}">다음</a>
                  </span>
              </div>



              <a th:href="@{/cs/qna/write}" class="btnWrite">문의하기</a>

            </article>
          </section>
        </div>
      </section>

