<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
      layout:decorate="/cs/layout.html">
<head>
<script th:inline="javascript">
    var uid = '';
    var level = '';
    /*[# th:if="${#authorization.expression('isAuthenticated()')}"]*/
    uid = [[${#authentication.principal.member.uid}]];
    level = '[[${#authentication.principal.member.level}]]';

    /*[/]*/
</script>
<script>

    // Success code alert
    const success = new URL(location.href).searchParams.get('success');
    var contextPath = "[[${@environment.getProperty('server.servlet.context-path')}]]";
    if(success == 102){
        alert('글 작성에 실패하셨습니다. 다시 시도하십시오');
    }else if(success == 200){
        alert('성공적으로 글이 등록 되었습니다.');
    }else if(success == 300){
        alert('글이 수정되었습니다.');
    }else if(success == 301){
        alert('성공적으로 글이 삭제되었습니다.');
    }




    // 문의하기 접근 시
    function showAlertLogin() {
        alert('로그인이 필요한 기능입니다.');
        window.location.href = contextPath +'/member/login';
    }

    // 사용자 인가 설정
    function showAlert(id){
        const flag = '[[${#authentication.principal}]]'
        if(flag == 'anonymousUser'){
            alert("해당 글 작성자만 접근 가능합니다.");
            return false;
        }
        console.log(id);
        console.log(uid);
        console.log(level);
        if(level != '99' && level != '5' && uid != id){
            alert("해당 글 작성자만 접근 가능합니다.");
            return false;
        }
        return true;

    }

</script>
</head>
      <section id="cs" layout:fragment = "content">
        <div class="qna">
          <nav>
            <div>
              <p>홈<span>></span>문의하기</p>
            </div>
          </nav>
          <section class="list">
            <aside>
              <h2>문의하기</h2>
              <ul>
                  <li th:class="${#strings.equalsIgnoreCase(cate, 'member') ? 'on' : ''}">
                      <a th:href="@{/cs/qna/list(group='qna', cate='member')}">회원</a>
                  </li>
                  <li th:class="${(cate=='coupon') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='coupon')}">쿠폰/이벤트</a></li>
                  <li th:class="${(cate=='order') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='order')}">주문/결제</a></li>
                  <li th:class="${(cate=='delivery') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='delivery')}">배송</a></li>
                  <li th:class="${(cate=='cancel') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='cancel')}">취소/반품/교환</a></li>
                  <li th:class="${(cate=='travel') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='travel')}">여행/숙박/항공</a></li>
                  <li th:class="${(cate=='safe') ?'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='safe')}">안전거래</a></li>
              </ul>
            </aside>
            <article>
              <nav >
               <span th:switch="${cate}">
                    <span th:case="member">회원</span>
                    <span th:case="coupon">쿠폰/이벤트</span>
                    <span th:case="order">주문/결제</span>
                    <span th:case="delivery">배송</span>
                    <span th:case="cancel">취소/반품/교환</span>
                    <span th:case="travel">여행/숙박/항공</span>
                </span>
                <h2>관련 문의 입니다.</h2>
              </nav>
                <table>
                    <tr th:each="article : ${csPageResponseDTO.dtoList}">
                        <td>
                            <a th:href="@{/cs/qna/view(group=${article.group},cate=${article.cate}, bno=${article.bno})}" th:onclick="return showAlert([[${article.uid}]]);">[<span th:text="${article.typeName}"></span>] [[${article.title}]]</a>
                        </td>
                        <th:block th:with="statusColor=${article.status eq '답변완료' ? 'blue' : 'grey'}">
                            <td th:class="${statusColor} +' reply' +' pending'"
                                th:text="${article.status}"
                                style="font-weight: bold; text-align: center;"></td>
                        </th:block>
                        <td class="uid" th:text="${#strings.length(article.uid) >= 3 ? #strings.substring(article.uid, 0, 3) + '***' : #strings.substring(article.uid, 0, 1)+'*'}"></td>
                        <td th:text="${#temporals.format(article.rdate, 'yy-MM-dd')}"></td>
                    </tr>
                </table>
              <!-- paging-->
                <th:block th:if="${csPageResponseDTO.end gt 0 }">
                  <div class="page">
                      <span th:if="${csPageResponseDTO.prev}" class="prev">
                        <a th:href="@{/cs/qna/list(group=${csPageResponseDTO.group},cate=${csPageResponseDTO.cate},pg=${csPageResponseDTO.start - 1})}">이전</a>
                      </span>

                      <span th:each="num: ${#numbers.sequence(csPageResponseDTO.start, csPageResponseDTO.end)}" class="num">
                        <a th:href="@{/cs/qna/list(group=${csPageResponseDTO.group},cate=${csPageResponseDTO.cate},pg=${num})}" th:class="${csPageResponseDTO.pg eq num ? 'on' : 'off'}">[[${num}]]</a>
                      </span>

                      <span th:if="${csPageResponseDTO.next}" class="next">
                        <a th:href="@{/cs/qna/list(group=${csPageResponseDTO.group},cate=${csPageResponseDTO.cate},pg=${csPageResponseDTO.end + 1})}">다음</a>
                      </span>
                  </div>
                </th:block>
                <a th:href="@{/cs/qna/write(group=qna)}"
                   th:if="${#authorization.expression('isAuthenticated()')}"
                   class="btnWrite">문의하기</a>
                <a th:href="@{/cs/qna/write(group=qna)}"
                   th:unless="${#authorization.expression('isAuthenticated()')}"
                   onclick="showAlertLogin(); return false;"
                   class="btnWrite">문의하기</a>
            </article>
          </section>
        </div>
      </section>

