<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.thymeleaf.org/" layout:decorate="/cs/layout.html">
      <section id="cs" layout:fragment = "content">
        <div class="qna">
          <nav>
            <div>
              <p>홈<span>></span>문의하기</p>
            </div>
          </nav>
          <section class="view">
            <aside>
              <h2>문의하기</h2>
              <ul>
                <li th:class="${(cate eq 'member') ? 'on' : ''}"><a th:href="@{/cs/qna/list(cate=member)}">회원</a></li>
                <li th:class="${(cate=='coupon') ? 'on' : ''}"><a th:href="@{/cs/qna/list(cate=coupon)}">쿠폰/이벤트</a></li>
                <li th:class="${(cate=='order') ? 'on' : ''}"><a th:href="@{/cs/qna/list(cate=order)}">주문/결제</a></li>
                <li th:class="${(cate=='delivery') ? 'on' : ''}"><a th:href="@{/cs/qna/list(cate=delivery)}">배송</a></li>
                <li th:class="${(cate=='cancel') ? 'on' : ''}"><a th:href="@{/cs/qna/list(cate=cancel)}">취소/반품/교환</a></li>
                <li th:class="${(cate=='travel') ? 'on' : ''}"><a th:href="@{/cs/qna/list(cate=travel)}">여행/숙박/항공</a></li>
                <li th:class="${(cate=='safe') ?'on' : ''}"><a th:href="@{/cs/qna/list(cate=safe)}">안전거래</a></li>
              </ul>
            </aside>
            <article>
              <nav>
                <h2 class="title">[<span th:text="${boardDTO.typeName}"></span>] [[${boardDTO.title}]]</h2>
                <p>
                  <span th:text="${#strings.substring(boardDTO.uid, 0, 3) + '***'}"></span>
                  <span th:text="${#temporals.format(boardDTO.rdate, 'yy-MM-dd')}"></span>
                </p>
              </nav>

              <div class="content">
                <p>
                  [[${boardDTO.content}]]
                </p><br><br>
                <p>
                  ※ 피싱 관련 피해신고<br /><br />
                  ▶ 경찰청 사이버수사국 (국번없이)182 :
                  http://cyberbureau.police.go.kr<br />
                  ▶ KISA 인터넷침해대응센터 (국번없이)118 :
                  http://www.krcert.or.kr<br />
                  감사합니다.<br />
                </p>

              </div>
              <section class="commentList">
                <article class="comment">
                  <div th:if="${boardDTO.reply != null}">
                    <h4>👉[답변] <span th:text="${boardDTO.title}"></span></h4>
                    <textarea class="content" name="content" th:text="${boardDTO.reply}" readonly></textarea>
                  </div>
                  <div th:unless="${boardDTO.reply != null}">
                    <p class="empty">등록된 댓글이 없습니다.</p>
                  </div>
                </article>
              </section>
              <div>
                <a th:href="@{/cs/qna/list(cate=member)}" class="btnQnAList">목록보기</a>
                <a th:href="@{/cs/qna/delete(bno=${boardDTO.bno})}" class="btnDelete">삭제하기</a>
                <a th:href="@{/cs/qna/modify(bno=${boardDTO.bno})}" class="btnModify">수정하기</a>
              </div>
            </article>
          </section>
        </div>
      </section>

