<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="/admin/adminlayout.html">
<head>
    <script th:src="@{/admin/js/checkbox.js}"></script>
    <script th:src="@{/admin/js/deleteCslist.js}"></script>
    <script>
        $(function () {
            var $cate = $('#cate');

            var selectedCate = localStorage.getItem('selectedCate');
            if (selectedCate) {
                $cate.val(selectedCate);
            } else if (cateParam === null) {
                $cate.val("null");
            }

            $cate.on('change', function () {
                const cates = this.value;
                console.log(cates);

                var contextPath = "[[${@environment.getProperty('server.servlet.context-path')}]]";
                window.location.href = contextPath + "/admin/cs/notice/list?group=notice&cate=" + cates;

                localStorage.setItem('selectedCate', cates);
            });
        });
    </script>
</head>
<section id="admin-cs-notice-list" layout:fragment="content">
    <nav>
        <h3>공지사항 목록</h3>
        <p>
            HOME &gt; 고객센터 &gt; <strong>공지사항</strong>
        </p>
    </nav>
    <section>
        <article>
            <div>
                <select name="cate2" onchange="changeSelectCate()" id="cate">
                    <option value="null">전체</option>
                    <option value="cs">고객서비스</option>
                    <option value="safe">안전거래</option>
                    <option value="dangerProd">위해상품</option>
                    <option value="event">이벤트</option>
                </select>
            </div>
            <form class="csForm" id="formCheck1" th:action="@{/admin/cs/qna/delete}" method="get">
                <table>
                    <tbody>
                    <tr>
                        <th><input type="checkbox" name="all" id="selectAll"></th>
                        <th>번호</th>
                        <th>유형</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>날짜</th>
                        <th>관리</th>
                    </tr>
                    <tr th:each="cs : ${csPageResponseDTO.dtoList}">
                        <th:block th:if="${cs.group == 'notice'}">
                        <td class="chk"><input type="checkbox" name="chk" class="checkbox" th:value="${cs.bno}"></td>
                        <td>[[${cs.bno}]]</td>
                        <td>[[${cs.type}]]</td>
                        <td><a th:href="@{'/admin/cs/notice/view?bno=' + ${cs.bno}}">[[${cs.title}]]</a></td>
                        <td>[[${cs.uid}]]</td>
                        <td th:text="${#temporals.format(cs.rdate, 'yy-MM-dd')}"></td>
                        <td>
                            <a th:href="@{/admin/cs/notice/modify(bno=${cs.bno})}">[수정]</a>
                        </td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </form>
            <input type="button" class="cslist-delete" value="선택삭제" />
            <a th:href="@{/admin/cs/notice/write}" class="btnWrite">작성하기</a>

            <!-- paging-->
            <div class="paging">
                <span th:if="${csPageResponseDTO.prev}" class="prev">
                    <a th:href="@{/admin/cs/notice/list(group=${csPageResponseDTO.group},cate=${csPageResponseDTO.cate},pg=${csPageResponseDTO.start - 1})}">이전</a>
                </span>
                <span th:each="num: ${#numbers.sequence(csPageResponseDTO.start, csPageResponseDTO.end)}" class="num">
                    <a th:href="@{/admin/cs/notice/list(group=${csPageResponseDTO.group},cate=${csPageResponseDTO.cate},pg=${num})}" th:class="${csPageResponseDTO.pg eq num ? 'on' : 'off'}">[[${num}]]</a>
                </span>
                <span th:if="${csPageResponseDTO.next}" class="next">
                    <a th:href="@{/admin/cs/notice/list(group=${csPageResponseDTO.group},cate=${csPageResponseDTO.cate},pg=${csPageResponseDTO.end + 1})}">다음</a>
                </span>
            </div>
        </article>
    </section>
</section>
</html>
