<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="/admin/adminlayout.html">

<section id="admin-cs-notice-list" layout:fragment="content">
    <nav>
        <h3>공지사항 목록</h3>
        <p>
            HOME &gt; 고객센터 &gt; <strong>공지사항</strong>
        </p>
    </nav>
    <section>
        <div>
            <select name="cate" id="cate" required>
                <option selected disabled th:value="0">1차 선택</option>
                <th:block th:each="cateOption : ${cates}">
                    <option th:value="${cateOption.cate}" th:text="${cateOption.cateName}"></option>
                </th:block>
            </select>
        </div>
        <table>
            <tbody>
            <tr>
                <th><input type="checkbox" name="all"></th>
                <th>번호</th>
                <th>유형</th>
                <th>제목</th>
                <th>조회</th>
                <th>날짜</th>
                <th>관리</th>
            </tr>
            <tr th:each="cs:${csPageResponseDTO.dtoList}">
                <td><input type="checkbox" name="all"/></td>
                <td>[[${cs.bno}]]</td>
                <td>[[${cs.cate}]]</td>
                <td>[[${cs.type}]]</td>
                <td>[[${cs.title}]]</td>
                <td th:text="${#strings.substring(cs.uid, 0, 3) + '***'}"></td>
                <td th:text="${#temporals.format(cs.rdate, 'yy-MM-dd')}"></td>
                <td>[[${cs.status}]]</td>
                <td>
                    <a href="#">[삭제]</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="#" class="btnDelete">선택삭제</a>
        <a href="#" class="btnWrite">작성하기</a>
        <div class="paging">
                    <span class="prev">
                        <a href="#">&lt;&nbsp;이전</a>
                    </span>
            <span class="num">
                        <a href="#" class="on">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                    </span>
            <span class="next">
                        <a href="#">다음&nbsp;&gt;</a>
                    </span>
        </div>
    </section> <!--table end-->
</section><!--admin-product-list end-->
</html>