<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="/policy/policyPage.html">
<aside layout:fragment="aside">
  <!-- 카테고리 -->
  <ul class="category">
  </ul>
</aside>
<section class="buyer" layout:fragment="section">
    <nav>
      <h1>LotteON 서비스 이용약관</h1>
      <ul>
          <li id="terms1"><span>구매회원 약관</span></li>
          <li id="terms2"><span>판매회원 약관</span></li>
          <li id="terms3"><span>전자금융거래 약관</span></li>
          <li id="terms4"><span>위치정보이용 약관</span></li>
          <li id="terms5" class="on"><span>개인정보수집 약관</span></li>
      </ul>
    </nav>
    <article class="termsContent">
      <h2 class="termsTitle">개인정보수집 이용약관</h2>
    </article>
</section>
</html>