<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="/admin/adminlayout.html">
<head>
    <script th:src="@{/admin/js/checkbox.js}"></script>
    <script th:src="@{/admin/js/deleteCslist.js}"></script>
    <script>
        $(function () {
            var $cate = $('#cate');

            var selectedCate = localStorage.getItem('selectedCate');
            if (selectedCate) {
                $cate.val(selectedCate);
            } else if (cateParam === null) {
                $cate.val("null");
            }

            $cate.on('change', function () {
                const cates = this.value;

                var contextPath = "[[${@environment.getProperty('server.servlet.context-path')}]]";
                window.location.href = contextPath + "/admin/cs/qna/list?group=qna&cate=" + cates;

                localStorage.setItem('selectedCate', cates);
            });
        });
    </script>
</head>
<section id="admin-cs-notice-list" layout:fragment="content">
    <nav>
        <h3>문의하기 목록</h3>
        <p>
            HOME &gt; 고객센터 &gt; <strong>문의하기</strong>
        </p>
    </nav>
    <section>
        <article>
            <div>
                <select name="cate2" onchange="changeSelectCate()" id="cate">
                    <option value="null" selected>전체</option>
                    <option value="member">회원</option>
                    <option value="coupon">쿠폰/이벤트</option>
                    <option value="order">주문/결제</option>
                    <option value="delivery">배송</option>
                    <option value="cancel">취소/반품/교환</option>
                    <option value="travel">여행/숙박/항공</option>
                </select>
            </div>
            <form class="csForm" id="formCheck" th:action="@{/admin/cs/qna/delete}" method="get">
                <table>
                    <tbody>
                    <tr>
                        <th><input type="checkbox" name="all" id="selectAll"></th>
                        <th>번호</th>
                        <th>1차유형</th>
                        <th>2차유형</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>상태</th>
                    </tr>
                    <tr th:each="cs:${csPageResponseDTO.dtoList}">
                        <th:block th:if="${cs.group == 'qna'}">
                            <td><input type="checkbox" name="chk" th:value="${cs.bno}" /></td>
                            <td>[[${cs.bno}]]</td>
                            <td>[[${cs.cateName}]]</td>
                            <td>[[${cs.typeName}]]</td>
                            <td><a th:href="@{'/admin/cs/qna/view?bno=' + ${cs.bno}}">[[${cs.title}]]</a></td>
                            <td class="uid" th:text="${#strings.length(cs.uid) >= 3 ? #strings.substring(cs.uid, 0, 3) + '***' : #strings.substring(cs.uid, 0, 1)+'*'}"></td>
                            <td th:text="${#temporals.format(cs.rdate, 'yy-MM-dd')}"></td>
                            <td th:class="${cs.status == '답변완료' ? 'completed' : ''}">[[${cs.status}]]</td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </form>
            <input type="button" class="cslist-delete" value="선택삭제" />

            <!-- paging-->
            <div class="paging">
                <span th:if="${csPageResponseDTO.prev}" class="prev">
                    <a th:href="@{/admin/cs/qna/list(group=${csPageResponseDTO.group},cate=${csPageResponseDTO.cate},pg=${csPageResponseDTO.start - 1})}">이전</a>
                </span>
                <span th:each="num: ${#numbers.sequence(csPageResponseDTO.start, csPageResponseDTO.end)}" class="num">
                    <a th:href="@{/admin/cs/qna/list(group=${csPageResponseDTO.group},cate=${csPageResponseDTO.cate},pg=${num})}" th:class="${csPageResponseDTO.pg eq num ? 'on' : 'off'}">[[${num}]]</a>
                </span>
                <span th:if="${csPageResponseDTO.next}" class="next">
                    <a th:href="@{/admin/cs/qna/list(group=${csPageResponseDTO.group},cate=${csPageResponseDTO.cate},pg=${csPageResponseDTO.end + 1})}">다음</a>
                </span>
            </div>
        </article>
    </section>
</section>
</html>