<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="/admin/adminlayout.html">
<script>
    $(function(){
      var contextPath = "[[${@environment.getProperty('server.servlet.context-path')}]]";
      const url = '/cs/cate';
      const jsonData = {};

      $.ajax({
        url: contextPath + url,
        type: 'GET',
        data: jsonData,
        success: function(data) {

          console.log(data);

          $("#cate").change(function(){
            let optionValue = $(this).val();
            let selectType = $("#type");

            const jsonData = {
              "optionValue" : optionValue
            };
            console.log(jsonData);

            // cate가 바뀔 때 마다 type을 빈값으로 초기화 해주고
            // 그 뒤 append를 통해서 option을 추가해줌
            selectType.empty();
            selectType.append(
                    $('<option>',{
                      value: '',
                      text: '2차 분류 선택',
                      disabled: 'disabled',
                      selected: 'selected'
                    })
            );

            if(optionValue !== '0'){
              $.getJSON(contextPath+ url, jsonData, function(data){
                console.log("cate가 0이 아닐 때 type option 추가");
                console.log(data);

                $.each(data, function (index, type) {
                  selectType.append(
                          $('<option>',{
                            value: type.type,
                            text: type.typeName,
                          })
                  ); // appnd end
                }); // each end
              }); // ajax end
            } // if end
          }); // cate change end
        }
      });
    });

</script>
<section id="admin-cs-notice-list" layout:fragment="content">
    <nav>
        <h3>문의하기 목록</h3>
        <p>
            HOME &gt; 고객센터 &gt; <strong>문의하기</strong>
        </p>
    </nav>
    <section>
        <article>
            <form th:action="@{admin/cs/qna/list}" method="POST">
        <div>
            <tr>
                <td>
                    <select name="cate" id="cate" required>
                        <option selected disabled th:value="0">1차 선택</option>
                        <th:block th:each="cateOption : ${cates}">
                            <option th:value="${cateOption.cate}" th:text="${cateOption.cateName}"></option>
                        </th:block>
                    </select>

                    <!-- cateName에 따라서 선택지가 달라짐 -->
                    <select name="type" id="type" required>
                        <option selected disabled th:value="0">2차 선택</option>
                    </select>
                </td>
            </tr>
        </div>
        <table>
            <tbody>
            <tr>
                <th><input type="checkbox" name="all"></th>
                <th>번호</th>
                <th>1차유형</th>
                <th>2차유형</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>상태</th>
            </tr>
            <tr th:each="cs:${csPageResponseDTO.dtoList}">
                <td><input type="checkbox" name="all"/></td>
                <td>[[${cs.bno}]]</td>
                <td>[[${cs.cate}]]</td>
                <td>[[${cs.type}]]</td>
                <td>[[${cs.title}]]</td>
                <td th:text="${#strings.substring(cs.uid, 0, 3) + '***'}"></td>
                <td th:text="${#temporals.format(cs.rdate, 'yy-MM-dd')}"></td>
                <td>[[${cs.status}]]</td>
                <td>
                    <a href="#">[삭제]</a>
                    </td>
            </tr>
            </tbody>
        </table>
        <a href="#" class="btnDelete">선택삭제</a>
        <a href="#" class="btnWrite">작성하기</a>

        <!-- paging-->
        <div class="page">
                  <span th:if="${csPageResponseDTO.prev}" class="prev">
                    <a th:href="@{/admin/cs/qna/list(cate=${csPageResponseDTO.cate},pg=${csPageResponseDTO.start - 1})}">이전</a>
                  </span>

            <span th:each="num: ${#numbers.sequence(csPageResponseDTO.start, csPageResponseDTO.end)}" class="num">
                    <a th:href="@{/admin/cs/qna/list(cate=${csPageResponseDTO.cate},pg=${num})}" th:class="${csPageResponseDTO.pg eq num ? 'on' : 'off'}">[[${num}]]</a>
                  </span>

            <span th:if="${csPageResponseDTO.next}" class="next">
                    <a th:href="@{/admin/cs/qna/list(cate=${csPageResponseDTO.cate},pg=${csPageResponseDTO.end + 1})}">다음</a>
                  </span>
        </div>
            </form>
        </article>
    </section> <!--table end-->
</section><!--admin-product-list end-->
</html>