<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="/admin/adminlayout.html">
<head>
    <script th:src="@{/admin/js/checkbox.js}"></script>
    <script th:src="@{/admin/js/deleteCslist.js}"></script>
<section id="admin-cs-notice-view"   layout:fragment="content">
    <nav>
        <h3>문의하기 답변</h3>
        <p>
            HOME &gt; 고객센터 &gt; <strong>문의하기</strong>
        </p>
    </nav>
    <nav></nav>
    <article>
        <div class="content">
            <form th:action="@{/admin/cs/qna/reply}" method="post">
                <input type="text" name="cate1" th:value="${boardDTO.cate}">
                <input type="text" name="writer" value="admin">
                <table>
                    <tr>
                        <td>유형</td>
                        <td>
                            <th:block th:each="cate:${cate}">
                                <th:block th:each="type:${type}">
                                    <span th:if="${cate.cate==boardDTO.cate and type.type==boardDTO.type}" th:text="${boardDTO.cateName + ' · ' + boardDTO.typeName}"></span>
                                </th:block>
                            </th:block>
                        </td>
                    </tr>
                    <tr>
                        <td>제목</td>
                        <td>[[${boardDTO.title}]]</td>
                    </tr>
                    <tr>
                        <td>내용</td>
                        <td>
                            [[${boardDTO.content}]]
                        </td>
                    </tr>
                    <tr>
                        <td>답변</td>
                        <td>
                            <div th:if="${boardDTO.reply == null}">
                                <textarea name="content"></textarea>
                            </div>
                            <div th:if="${boardDTO.reply != null }" th:text="${boardDTO.reply}"></div>
                        </td>
                    </tr>
                </table>
                <a th:href="@{/admin/cs/qna/list?group=qna&cate=null}" class="btnList">목록</a>
                <input type="submit" value="답변등록" class="btnReply">
                <a th:href="@{/admin/cs/qna/delete(chk=${boardDTO.bno})}" class="btnDelete">삭제</a>
                </form>
        </div>
    </article>
</section>
</head>
</html>
