<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="/admin/adminlayout.html">
<head>
    <script th:src="@{/admin/js/checkbox.js}"></script>
    <script th:src="@{/admin/js/deleteCslist.js}"></script>
<section id="admin-cs-notice-view"   layout:fragment="content">
    <nav>
        <h3>문의하기 답변</h3>
        <p>
            HOME &gt; 고객센터 &gt; <strong>문의하기</strong>
        </p>
    </nav>
    <article>
        <div class="content">
            <form th:action="@{/admin/cs/qna/reply}" method="post">
                <table>
                    <tr>
                        <td>유형</td>
                        <td>
                            <span th:text="${boardDTO.cateName + ' - ' + boardDTO.typeName}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>제목</td>
                        <td>[[${boardDTO.title}]]</td>
                    </tr>
                    <tr>
                        <td>내용</td>
                        <td>
                            [[${boardDTO.content}]]
                        </td>
                    </tr>
                    <tr th:if="${boardDTO.reply == null}">
                        <td>답변</td>
                        <td>
                            <div>
                                <textarea name="content"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${boardDTO.reply != null}">
                        <td>답변</td>
                        <td>
                            <div th:text="${boardDTO.reply}"></div>
                        </td>
                    </tr>
                </table>
                    <tr th:if="${boardDTO.reply == null}">
                        <td>
                            <input type="submit" value="답변등록" class="btnReply">
                        </td>
                    </tr>
                    <input type="hidden" name="bno" th:value="${boardDTO.bno}" />
                    <a th:href="@{/admin/cs/qna/list?group=qna&cate=null}" class="btnList">목록</a>
                    <a th:href="@{/admin/cs/qna/delete(chk=${boardDTO.bno})}" class="btnDelete">삭제</a>
                </form>
        </div>
    </article>
</section>
</head>
</html>
